$default_size: 1080px;

@charset "UTF-8";

.main-table {
  width:860px;
  margin:0 auto;

  .table {
    margin-bottom: 0;
    text-align: center;

    thead tr:first-child {
        width: 113px;
        height: 30px;
      td {
        height: 28px;
        background-color: #f9f7f7;
        color:#636363;
        font-family: NanumGothic;
        font-size: 12px;
        border-right: 0;
        font-weight:bold;
        border-top:1px solid #c0bfbf;
      }
    }
    tbody tr {
      td {
        vertical-align: middle;
        font-size: 12px;
        color: #636363;
        height: 45px;
        background-color:#fff;
      }

      td.item-name {
      	a {
					color:#636363;
      	}

      	.option-name {
					color:#4db7c9;
        }
      }

      td.item-price {
				font-weight:bold;
      }

      td:first-child {
        border-right: none;
      }
      td:nth-child(2) {
        border-right: none;
      }
      td:last-child {
        border-right: none;
        border-bottom:#e0dede;
      }

      i {
      	color:#bebfbf;
      }
    }
  }

  .option-button {
    display:inline-block;
    width:50px;
    height:15px;
    border:1px solid #6dcff6;
    background-color:#fff;
    color:#6dcff6;
    font-size:11px;
    text-align:center;
    border-radius: 0;
  }
}

.btn-etc {
	width:75px;
	background-color:#4db7c9;
	margin-top:2px;
  color:#fff;
}

.btn-confirm {
	margin-top:0;
	background-color:#4db7c9;
	color:#fff;
}

.top-table {
	margin:40px auto 0 auto;
  width:860px;

  .table {
    margin-bottom: 0;
    text-align: center;

    thead tr:first-child {
        width: 113px;
        height: 30px;
      td {
        height: 28px;
        background-color: #fff;
        color:#636363;
        font-family: NanumGothic;
        font-size: 12px;
        border-right: 0;
        font-weight:bold;
        border-top:1px solid #c0bfbf;

        &:first-child {
					background-color:#333333;
					color:#fff;
        }
      }
    }
    tbody tr {
      td {
        vertical-align: middle;
        font-size: 12px;
        color: #636363;
        height: 46px;
        background-color:#fff;
      }

      td.item-name {
      	a {
					color:#636363;
      	}

      	.option-name {
					color:#4db7c9;
        }
      }

      td:first-child {
      	background-color:#333333;
        border-right: none;
        color:#fff;
      }
      td:nth-child(2) {
        border-right: none;
      }
      td:last-child {
        border-right: none;
        border-bottom:#e0dede;
      }

      i {
      	color:#bebfbf;
      }

      .pay-method {
      	color:#cc0000;
      	font-weight:bold;
      }

      .status {
      	color:#009900;
      	font-weight:bold;
      }
    }
  }

  .option-button {
    display:inline-block;
    width:50px;
    height:15px;
    border:1px solid #6dcff6;
    background-color:#fff;
    color:#6dcff6;
    font-size:11px;
    text-align:center;
    border-radius: 0;
  }
}

.total-count-title {
  margin-top:10px;
  font-size:12px;
  color:#707070;

  span {
    color:#4db7c9;
  }
}

.item-delete {
  padding-top:4px;
  width:32px;
  height:32px;
  background-color:#bebfbf;
  cursor: pointer;
  text-align:center;
  border-radius:3px;

  i {
    color:#fff;
  }
}